language: csharp
mono: 6.6.0 # Use specific mono version due to a cake failure: https://github.com/cake-build/cake/issues/2695
sudo: required
dist: xenial
dotnet: 3.1
addons:
  apt:
    packages:
    - dotnet-sdk-2.2
script:
  - if [[ $TRAVIS_EVENT_TYPE = 'push' ]]; then
        ./build.sh --target DefaultIT;
    else
        ./build.sh;
    fi
  - if [[ $DEPLOY_DOCS = true  && ($TRAVIS_BRANCH = master || "$TRAVIS_TAG" != "") ]]; then 
      ./build.sh --target Docs; 
    fi 
deploy:
- provider: pages
  skip_cleanup: true
  github_token: "$GITHUB_TOKEN"
  local_dir: docs/temp
  email: deploy-dotnet@okta.com
  name: ".NET Deployment Bot"
  on:
    condition: "$DEPLOY_DOCS = true"
    tags: true
- provider: pages
  skip_cleanup: true
  github_token: "$GITHUB_TOKEN"
  local_dir: docs/temp
  email: deploy-dotnet@okta.com
  name: ".NET Deployment Bot"
  on:
    condition: "$DEPLOY_DOCS = true"
    branch: master
- provider: pages
  skip_cleanup: true
  github_token: "$GITHUB_TOKEN"
  local_dir: docs/temp
  email: deploy-dotnet@okta.com
  name: ".NET Deployment Bot"
  on:
    condition: "$DEPLOY_DOCS = true"
    branch: Update-Tavis-CI-configuration
notifications:
  slack:
    if: type = cron
    secure: cLvrcIznO1QFFVe4lIav+4rVqB2nlpHswKDYplOGlDJ1s1KXYDwoqigFMN+mWmOkCcDUI1Bls/R1zfNWCAupIVRbj4eMREoQkwpVi+wVv5xQ/T5bYqVQMKqL6BGoodjnxkHzz7NbNNejYQbFtNkCvyC1Rl28VbiJIMZkh4wLNbI=
  on_success: never
  on_failure: always
