{{>partial_header}}
#nullable enable

using System;
using System.Collections.Generic;
using System.IdentityModel.Tokens.Jwt;
using System.Security.Claims;
using System.Security.Cryptography;
using System.Text;
using Microsoft.IdentityModel.Tokens;
using Newtonsoft.Json;

namespace Okta.Sdk.Client
{
    /// <summary>
    /// Interface for DPoP Proof JWT generators.
    /// </summary>
    public interface IDpopProofJwtGenerator
    {
        /// <summary>
        /// Dispose of the existing keys and create a new RSA key set.
        /// </summary>
        void RotateKeys();


        /// <summary>
        /// Generate a new DPoP Proof JWT
        /// </summary>
        /// <param name="nonce">The nonce</param>
        /// <param name="httpMethod">The HTTP method of the request</param>
        /// <param name="uri">The HTTP URI of the request (without query and fragment parts)</param>
        /// <param name="accessToken">The access token</param>
        /// <returns>A DPoP Proof JWT</returns>
        /// <exception cref="InvalidOperationException"></exception>
        string GenerateJwt(string? nonce = null, string? httpMethod = null, string? uri = null, string? accessToken = null);
    }

    /// <summary>
    /// Default implementation of <see cref="IDpopProofJwtGenerator"/>.
    /// </summary>
    public class DefaultDpopProofJwtGenerator : IDpopProofJwtGenerator 
    {
        
        private readonly IReadableConfiguration _configuration;
        private RSA _rsa;

        /// <summary>
        /// Initializes a new instance of the <see cref="DefaultDpopProofJwtGenerator"/> class.
        /// </summary>
        /// <param name="configuration">The Okta configuration.</param>
        public DefaultDpopProofJwtGenerator(IReadableConfiguration configuration)
        {
            _rsa = RSA.Create();

            if (configuration == null)
            {
                throw new ArgumentNullException("The Okta configuration cannot be null.");
            }

            _configuration = configuration;
        }

        /// <summary>
        /// Dispose of the existing keys and create a new RSA key set.
        /// </summary>
        public void RotateKeys()
        {
            _rsa.Clear();
            _rsa.Dispose();

            _rsa = RSA.Create();
        }

        /// <summary>
        /// Generate a new DPoP Proof JWT
        /// </summary>
        /// <param name="nonce">The nonce</param>
        /// <param name="httpMethod">The HTTP method of the request</param>
        /// <param name="uri">The HTTP URI of the request (without query and fragment parts)</param>
        /// <param name="accessToken">The access token</param>
        /// <returns>A DPoP Proof JWT</returns>
        /// <exception cref="InvalidOperationException"></exception>
        public string GenerateJwt(string? nonce = null, string? httpMethod = null, string? uri = null, string? accessToken = null)
        {
            try
            {
                TimeSpan timeSpanIat = DateTime.UtcNow - new DateTime(1970, 1, 1);

                var payload = new JwtPayload
                {
                    // RFC 9449 Section 4.2 requires the htm claim to be the uppercase HTTP method
                    { "htm", (httpMethod ?? "POST").ToUpperInvariant() },
                    { "htu", uri ?? $"{ClientUtils.EnsureTrailingSlash(_configuration.OktaDomain)}oauth2/v1/token" },
                    { "iat", (int)timeSpanIat.TotalSeconds },
                    { "jti", Guid.NewGuid().ToString()}
                };

                if (!string.IsNullOrEmpty(nonce))
                {
                    payload.AddClaim(new Claim("nonce", nonce));
                }

                if (!string.IsNullOrEmpty(accessToken))
                {
                    payload.AddClaim(new Claim("ath", HashAccessTokenForDpopProof(accessToken)));
                }

                var publicKey = new RsaSecurityKey(_rsa.ExportParameters(false));
                var publicJsonWebKey = JsonWebKeyConverter.ConvertFromRSASecurityKey(publicKey);

                RsaSecurityKey keys = new RsaSecurityKey(_rsa.ExportParameters(true));

                var signingCredentials = new SigningCredentials(keys, SecurityAlgorithms.RsaSha256);
                
                var outboundAlgorithmMap = new Dictionary<string, string> { { "alg", SecurityAlgorithms.RsaSha256 } };

                // The jwk header must be a JSON object per RFC 9449 and Okta's DPoP implementation
                // We need to convert the JsonWebKey to a dictionary that can be serialized
                var jwkDict = new Dictionary<string, object>
                {
                    { "kty", publicJsonWebKey.Kty },
                    { "e", publicJsonWebKey.E },
                    { "n", publicJsonWebKey.N }
                };
                
                // Add optional properties if they exist
                if (!string.IsNullOrEmpty(publicJsonWebKey.Kid))
                    jwkDict.Add("kid", publicJsonWebKey.Kid);
                if (!string.IsNullOrEmpty(publicJsonWebKey.Use))
                    jwkDict.Add("use", publicJsonWebKey.Use);
                if (!string.IsNullOrEmpty(publicJsonWebKey.Alg))
                    jwkDict.Add("alg", publicJsonWebKey.Alg);

                var additionalHeaders = new Dictionary<string, object> { { "jwk", jwkDict } };

                var securityToken =
                    new JwtSecurityToken(
                        new JwtHeader(signingCredentials, outboundAlgorithmMap, "dpop+jwt", additionalHeaders),
                        payload);

                return new JwtSecurityTokenHandler().WriteToken(securityToken);
            }
            catch (Exception e)
            {
                throw new InvalidOperationException("Something went wrong when creating the signed JWT. Verify your private key.", e);
            }
        }

        /// <summary>
        /// Hash of the access token. The value MUST be the result of a base64url encoding (as defined in Section 2 of [RFC7515]) the SHA-256 [SHS] hash of the ASCII encoding of the associated access token's value.
        /// </summary>
        /// <param name="accessToken">The access token.</param>
        /// <returns>The hash of the access token.</returns>
        private string HashAccessTokenForDpopProof(string accessToken)
        {
            var encodedAccessTokenBytes = Encoding.ASCII.GetBytes(accessToken);
            
            // Create an instance of SHA-256 algorithm
            using SHA256 sha256 = SHA256.Create();
            
            // Compute the hash
            var hashBytes = sha256.ComputeHash(encodedAccessTokenBytes);

            // Perform base64url encoding on the hash
            return Base64UrlEncoder.Encode(hashBytes);
        }

    }
}