{{>partial_header}}

using System;
using System.Collections.Generic;
using System.IdentityModel.Tokens.Jwt;
using Microsoft.IdentityModel.Tokens;
using Newtonsoft.Json;


namespace {{packageName}}.Client
{
    #region IClientAssertionJwtGenerator
    /// <summary>
    /// Interface for JWT generators.
    /// </summary>
    public interface IClientAssertionJwtGenerator
    {
        /// <summary>
        /// Generates a signed JWT using the private key provided in the configuration to obtain an access token.
        /// </summary>
        /// <returns>The generated signed JWT.</returns>
        string GenerateJwt();
    }
    #endregion IClientAssertionJwtGenerator

    /// <summary>
    /// Default JWT generator.
    /// </summary>
    public class DefaultClientAssertionJwtGenerator : IClientAssertionJwtGenerator
    {
        private readonly IReadableConfiguration _configuration;

        private static IList<string> _supportedKeys = new List<string>() { "RSA", "EC" };

        /// <summary>
        /// Initializes a new instance of the <see cref="DefaultClientAssertionJwtGenerator"/> class.
        /// </summary>
        /// <param name="configuration">The Okta client configuration.</param>
        public DefaultClientAssertionJwtGenerator(IReadableConfiguration configuration)
        {
            if (configuration == null)
            {
                throw new ArgumentNullException("The Okta configuration cannot be null.");
            }

            if (!_supportedKeys.Contains(configuration.PrivateKey?.Kty))
            {
                throw new NotSupportedException($"The kty {configuration.PrivateKey?.Kty} is not supported. Use 'EC' or 'RSA'.");
            }

            _configuration = configuration;
        }

        /// <summary>
        /// Gets a new SigningCredentials instance.
        /// </summary>
        /// <param name="jsonWebKeyConfiguration">The JWK configuration.</param>
        /// <returns>A <c>SigningCredentials</c> instance. </returns>
        private SigningCredentials GetSigningCredentials(JsonWebKeyConfiguration jsonWebKeyConfiguration)
        {
            var jsonWebKey = new Microsoft.IdentityModel.Tokens.JsonWebKey(JsonConvert.SerializeObject(jsonWebKeyConfiguration));

            return new SigningCredentials(jsonWebKey, GetSecurityAlgorithm(jsonWebKeyConfiguration.Kty));
        }

        private string GetSecurityAlgorithm(string kty)
        {
            if (kty == "RSA")
            {
                return SecurityAlgorithms.RsaSha256;
            }
            else
            {
                return SecurityAlgorithms.EcdsaSha256;
            }
        }

        /// <inheritdoc/>
        public string GenerateJwt()
        {
            try
            {
                TimeSpan timeSpanIat = DateTime.UtcNow - new DateTime(1970, 1, 1);
                TimeSpan timeSpanExp = DateTime.UtcNow.AddMinutes(50) - new DateTime(1970, 1, 1);

                var payload = new JwtPayload
                {
                    { "sub", _configuration.ClientId },
                    { "iat", (int)timeSpanIat.TotalSeconds },
                    { "exp", (int)timeSpanExp.TotalSeconds },
                    { "iss", _configuration.ClientId },
                    { "aud", $"{ClientUtils.EnsureTrailingSlash(_configuration.OktaDomain)}oauth2/v1/token" },
                    { "jti", Guid.NewGuid().ToString() },
                };

                var securityToken = new JwtSecurityToken(new JwtHeader(GetSigningCredentials(_configuration.PrivateKey)), payload);

                return new JwtSecurityTokenHandler().WriteToken(securityToken);
            }
            catch (Exception e)
            {
                throw new InvalidOperationException("Something went wrong when creating the signed JWT. Verify your private key.", e);
            }
        }
    }
}