        {{^isContainer}}
        /// <summary>
        /// {{description}}{{^description}}Defines {{{name}}}{{/description}}
        /// </summary>
        {{#description}}
        /// <value>{{.}}</value>
        {{/description}}
        {{#isString}}
        {{^useGenericHost}}
        [JsonConverter(typeof(StringEnumSerializingConverter))]
        {{/useGenericHost}}
        {{/isString}}
        {{>visibility}} sealed class {{datatypeWithEnum}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}} : StringEnum
        {
            {{#allowableValues}}
            {{#enumVars}}
            /// <summary>
            /// StringEnum {{name}} for value: {{value}}
            /// </summary>
            {{#isString}}
            [EnumMember(Value = "{{{value}}}")]
            {{/isString}}
            {{name}}{{^isString}} = {{{value}}}{{/isString}}{{#isString}} = {{-index}}{{/isString}}{{^-last}},{{/-last}}

            {{/enumVars}}
            {{/allowableValues}}
        }
        {{/isContainer}}
