    /// <summary>
    /// Template: ModelGeneric
    /// {{description}}{{^description}}{{classname}}{{/description}}
    /// </summary>
    {{#vendorExtensions.x-json-converter}}
    [JsonConverter(typeof({{{.}}}))]
    {{/vendorExtensions.x-json-converter}}
    [DataContract(Name = "{{{name}}}")]
    {{#discriminator}}
    {{^vendorExtensions.x-json-converter}}
    [JsonConverter(typeof(JsonSubtypes), "{{{discriminatorName}}}")]
    {{/vendorExtensions.x-json-converter}}
    {{#mappedModels}}
    [JsonSubtypes.KnownSubType(typeof({{{modelName}}}), "{{^vendorExtensions.x-discriminator-value}}{{{mappingName}}}{{/vendorExtensions.x-discriminator-value}}{{#vendorExtensions.x-discriminator-value}}{{{.}}}{{/vendorExtensions.x-discriminator-value}}")]
    {{/mappedModels}}
    {{/discriminator}}
    {{! Removing parent when additionalProperties is true due to Dictionary inheritance issue https://github.com/OpenAPITools/openapi-generator/issues/13142 }}
    {{#isAdditionalPropertiesTrue}}
    {{>visibility}} partial class {{classname}} : IEquatable<{{classname}}>{{#validatable}}, IValidatableObject{{/validatable}}
    {{/isAdditionalPropertiesTrue}}
    
    {{^isAdditionalPropertiesTrue}}
    {{>visibility}} partial class {{classname}} : {{#parent}}{{{.}}}, {{/parent}}IEquatable<{{classname}}>{{#validatable}}, IValidatableObject{{/validatable}}
    {{/isAdditionalPropertiesTrue}}
    {
        {{#vars}}
        {{#items.isEnum}}
        {{#items}}
        {{^complexType}}
{{>modelInnerEnum}}
        {{/complexType}}
        {{/items}}
        {{/items.isEnum}}
        {{#isEnum}}
        {{^complexType}}
{{>modelInnerEnum}}
        {{/complexType}}
        {{/isEnum}}
        {{#isEnum}}

        /// <summary>
        /// {{description}}{{^description}}Gets or Sets {{{name}}}{{/description}}
        /// </summary>
        {{#description}}
        /// <value>{{.}}</value>
        {{/description}}
        {{^conditionalSerialization}}
        [DataMember(Name = "{{baseName}}", EmitDefaultValue = true)]
        {{#deprecated}}
        [Obsolete]
        {{/deprecated}}
        
        public {{#vendorExtensions.x-override-parent}}new {{/vendorExtensions.x-override-parent}}{{{complexType}}}{{^complexType}}{{{datatypeWithEnum}}}{{/complexType}}{{^isContainer}}{{^required}}{{^isEnum}}?{{/isEnum}}{{/required}}{{/isContainer}} {{name}} { get; set; }
        {{#vendorExtensions.x-override-parent}}

        /// <summary>
        /// Returns true if {{name}} should be serialized (overrides base class behavior when present).
        /// </summary>
        /// <returns>true if {{name}} has a value, false otherwise</returns>
        public new bool ShouldSerialize{{name}}()
        {
            return {{name}} != null && !string.IsNullOrEmpty({{name}}.Value);
        }
        {{/vendorExtensions.x-override-parent}}
        {{#isReadOnly}}
        {{^vendorExtensions.x-override-parent}}

        /// <summary>
        /// Returns false as {{name}} should not be serialized given that it's read-only.
        /// </summary>
        /// <returns>false (boolean)</returns>
        public bool ShouldSerialize{{name}}()
        {
            return false;
        }
        {{/vendorExtensions.x-override-parent}}
        {{/isReadOnly}}
        {{/conditionalSerialization}}
        {{#conditionalSerialization}}
        {{#isReadOnly}}
        [DataMember(Name = "{{baseName}}", EmitDefaultValue = true)]
        {{#deprecated}}
        [Obsolete]
        {{/deprecated}}
        public {{{complexType}}}{{^complexType}}{{{datatypeWithEnum}}}{{/complexType}}{{^isContainer}}{{^required}}{{^isEnum}}?{{/isEnum}}{{/required}}{{/isContainer}} {{name}} { get; set; }


        /// <summary>
        /// Returns false as {{name}} should not be serialized given that it's read-only.
        /// </summary>
        /// <returns>false (boolean)</returns>
        public bool ShouldSerialize{{name}}()
        {
            return false;
        }
        {{/isReadOnly}}

        {{^isReadOnly}}
        [DataMember(Name = "{{baseName}}", EmitDefaultValue = true)]
        {{#deprecated}}
        [Obsolete]
        {{/deprecated}}
        public {{{complexType}}}{{^complexType}}{{{datatypeWithEnum}}}{{/complexType}}{{^isContainer}}{{^required}}{{^isEnum}}?{{/isEnum}}{{/required}}{{/isContainer}} {{name}}
        {
            get{ return _{{name}};}
            set
            {
                _{{name}} = value;
                _flag{{name}} = true;
            }
        }
        private {{{complexType}}}{{^complexType}}{{{datatypeWithEnum}}}{{/complexType}}{{^isContainer}}{{^required}}{{^isEnum}}?{{/isEnum}}{{/required}}{{/isContainer}} _{{name}};
        private bool _flag{{name}};

        /// <summary>
        /// Returns false as {{name}} should not be serialized given that it's read-only.
        /// </summary>
        /// <returns>false (boolean)</returns>
        public bool ShouldSerialize{{name}}()
        {
            return _flag{{name}};
        }
        {{/isReadOnly}}
        {{/conditionalSerialization}}
        {{/isEnum}}
        {{/vars}}
    {{#hasRequired}}
    {{^hasOnlyReadOnly}}
        /// <summary>
        /// Initializes a new instance of the <see cref="{{classname}}" /> class.
        /// </summary>
        [JsonConstructorAttribute]
        {{^isAdditionalPropertiesTrue}}
        {{#vendorExtensions.x-constructor-init}}
        public {{classname}}()
        {
            {{#vars}}
            {{#isEnum}}
            {{#defaultValue}}
            this.{{name}} = {{{defaultValue}}};
            {{/defaultValue}}
            {{/isEnum}}
            {{/vars}}
        }
        {{/vendorExtensions.x-constructor-init}}
        {{^vendorExtensions.x-constructor-init}}
        public {{classname}}() { }
        {{/vendorExtensions.x-constructor-init}}
        {{/isAdditionalPropertiesTrue}}
        {{#isAdditionalPropertiesTrue}}
        public {{classname}}()
        {
            this.AdditionalProperties = new Dictionary<string, object>();
        }
        {{/isAdditionalPropertiesTrue}}
    {{/hasOnlyReadOnly}}
    {{/hasRequired}}
        
        {{#vars}}
        {{^isInherited}}
        {{^isEnum}}
        /// <summary>
        /// {{description}}{{^description}}Gets or Sets {{{name}}}{{/description}}
        /// </summary>{{#description}}
        /// <value>{{.}}</value>{{/description}}
        {{^conditionalSerialization}}
        [DataMember(Name = "{{baseName}}", EmitDefaultValue = true)]
        {{#isDate}}
        [JsonConverter(typeof(OpenAPIDateConverter))]
        {{/isDate}}
        {{#deprecated}}
        [Obsolete]
        {{/deprecated}}
        public {{{dataType}}} {{name}} { get; {{#isReadOnly}}private {{/isReadOnly}}set; }

        {{#isReadOnly}}
        /// <summary>
        /// Returns false as {{name}} should not be serialized given that it's read-only.
        /// </summary>
        /// <returns>false (boolean)</returns>
        public bool ShouldSerialize{{name}}()
        {
            return false;
        }
        {{/isReadOnly}}
        {{/conditionalSerialization}}
        {{#conditionalSerialization}}
        {{#isReadOnly}}
        [DataMember(Name = "{{baseName}}", EmitDefaultValue = true)]
        {{#isDate}}
        [JsonConverter(typeof(OpenAPIDateConverter))]
        {{/isDate}}
        {{#deprecated}}
        [Obsolete]
        {{/deprecated}}
        public {{{dataType}}} {{name}} { get; private set; }

        /// <summary>
        /// Returns false as {{name}} should not be serialized given that it's read-only.
        /// </summary>
        /// <returns>false (boolean)</returns>
        public bool ShouldSerialize{{name}}()
        {
            return false;
        }
        {{/isReadOnly}}
        {{^isReadOnly}}
        {{#isDate}}
        [JsonConverter(typeof(OpenAPIDateConverter))]
        {{/isDate}}
        [DataMember(Name = "{{baseName}}", EmitDefaultValue = true)]
        {{#deprecated}}
        [Obsolete]
        {{/deprecated}}
        public {{{dataType}}} {{name}}
        {
            get{ return _{{name}};}
            set
            {
                _{{name}} = value;
                _flag{{name}} = true;
            }
        }
        private {{{dataType}}} _{{name}};
        private bool _flag{{name}};

        /// <summary>
        /// Returns false as {{name}} should not be serialized given that it's read-only.
        /// </summary>
        /// <returns>false (boolean)</returns>
        public bool ShouldSerialize{{name}}()
        {
            return _flag{{name}};
        }
        {{/isReadOnly}}
        {{/conditionalSerialization}}
        {{/isEnum}}
        {{/isInherited}}
        {{/vars}}
        {{#isAdditionalPropertiesTrue}}
        /// <summary>
        /// Gets or Sets additional properties
        /// </summary>
        [JsonExtensionData]
        public IDictionary<string, object> AdditionalProperties { get; set; }

        {{/isAdditionalPropertiesTrue}}
        /// <summary>
        /// Returns the string presentation of the object
        /// </summary>
        /// <returns>String presentation of the object</returns>
        public override string ToString()
        {
            StringBuilder sb = new StringBuilder();
            sb.Append("class {{classname}} {\n");
            {{^isAdditionalPropertiesTrue}}
            {{#parent}}
            sb.Append("  ").Append(base.ToString().Replace("\n", "\n  ")).Append("\n");
            {{/parent}}
            {{/isAdditionalPropertiesTrue}}
            {{#vars}}
            sb.Append("  {{name}}: ").Append({{name}}).Append("\n");
            {{/vars}}
            {{#isAdditionalPropertiesTrue}}
            sb.Append("  AdditionalProperties: ").Append(AdditionalProperties).Append("\n");
            {{/isAdditionalPropertiesTrue}}
            sb.Append("}\n");
            return sb.ToString();
        }

        /// <summary>
        /// Returns the JSON string presentation of the object
        /// </summary>
        /// <returns>JSON string presentation of the object</returns>
        public {{#parent}}{{^isArray}}{{^isMap}}override {{/isMap}}{{/isArray}}{{/parent}}{{^parent}}virtual {{/parent}}string ToJson()
        {
            return Newtonsoft.Json.JsonConvert.SerializeObject(this, Newtonsoft.Json.Formatting.Indented);
        }

        /// <summary>
        /// Returns true if objects are equal
        /// </summary>
        /// <param name="input">Object to be compared</param>
        /// <returns>Boolean</returns>
        public override bool Equals(object input)
        {
            {{#useCompareNetObjects}}
            return OpenAPIClientUtils.compareLogic.Compare(this, input as {{classname}}).AreEqual;
            {{/useCompareNetObjects}}
            {{^useCompareNetObjects}}
            return this.Equals(input as {{classname}});
            {{/useCompareNetObjects}}
        }

        /// <summary>
        /// Returns true if {{classname}} instances are equal
        /// </summary>
        /// <param name="input">Instance of {{classname}} to be compared</param>
        /// <returns>Boolean</returns>
        public bool Equals({{classname}} input)
        {
            {{#useCompareNetObjects}}
            return OpenAPIClientUtils.compareLogic.Compare(this, input).AreEqual;
            {{/useCompareNetObjects}}
            {{^useCompareNetObjects}}
            if (input == null)
            {
                return false;
            }
            return {{#vars}}{{^isAdditionalPropertiesTrue}}{{#parent}}base.Equals(input) && {{/parent}}{{/isAdditionalPropertiesTrue}}{{^isContainer}}
                (
                    this.{{name}} == input.{{name}} ||
                    {{^vendorExtensions.x-is-value-type}}
                    (this.{{name}} != null &&
                    this.{{name}}.Equals(input.{{name}}))
                    {{/vendorExtensions.x-is-value-type}}
                    {{#vendorExtensions.x-is-value-type}}
                    this.{{name}}.Equals(input.{{name}})
                    {{/vendorExtensions.x-is-value-type}}
                ){{^-last}} && {{/-last}}{{/isContainer}}{{#isContainer}}
                (
                    this.{{name}} == input.{{name}} ||
                    {{^vendorExtensions.x-is-value-type}}this.{{name}} != null &&
                    input.{{name}} != null &&
                    {{/vendorExtensions.x-is-value-type}}this.{{name}}.SequenceEqual(input.{{name}})
                ){{^-last}} && {{/-last}}{{/isContainer}}{{/vars}}{{^vars}}{{#parent}}base.Equals(input){{/parent}}{{^parent}}false{{/parent}}{{/vars}}{{^isAdditionalPropertiesTrue}};{{/isAdditionalPropertiesTrue}}
                {{#isAdditionalPropertiesTrue}}
                && (this.AdditionalProperties.Count == input.AdditionalProperties.Count && !this.AdditionalProperties.Except(input.AdditionalProperties).Any());
                {{/isAdditionalPropertiesTrue}}
            {{/useCompareNetObjects}}
        }

        /// <summary>
        /// Gets the hash code
        /// </summary>
        /// <returns>Hash code</returns>
        public override int GetHashCode()
        {
            unchecked // Overflow is fine, just wrap
            {
                {{#isAdditionalPropertiesTrue}}
                int hashCode = 41;
                {{/isAdditionalPropertiesTrue}}
                {{^isAdditionalPropertiesTrue}}
                {{#parent}}
                int hashCode = base.GetHashCode();
                {{/parent}}
                {{^parent}}
                int hashCode = 41;
                {{/parent}}
                {{/isAdditionalPropertiesTrue}}
                
                {{#vars}}
                {{^vendorExtensions.x-is-value-type}}
                if (this.{{name}} != null)
                {
                    hashCode = (hashCode * 59) + this.{{name}}.GetHashCode();
                }
                {{/vendorExtensions.x-is-value-type}}
                {{#vendorExtensions.x-is-value-type}}
                {{#isEnum}}
                if (this.{{name}} != null)
                {
                    hashCode = (hashCode * 59) + this.{{name}}.GetHashCode();
                }
                {{/isEnum}}
                {{^isEnum}}
                hashCode = (hashCode * 59) + this.{{name}}.GetHashCode();
                {{/isEnum}}
                {{/vendorExtensions.x-is-value-type}}
                {{/vars}}
                {{#isAdditionalPropertiesTrue}}
                if (this.AdditionalProperties != null)
                {
                    hashCode = (hashCode * 59) + this.AdditionalProperties.GetHashCode();
                }
                {{/isAdditionalPropertiesTrue}}
                return hashCode;
            }
        }

{{#validatable}}
{{>validatable}}
{{/validatable}}
    }
