{{>partial_header}}
#nullable enable

using Polly;
using RestSharp;
using System;
using System.Threading;
using System.Threading.Tasks;
using Polly.NoOp;

namespace {{packageName}}.Client
{
    /// <summary>
    /// Null OAuth Token Provider.
    /// </summary>
    public class NullOAuthTokenProvider : IOAuthTokenProvider
    {
        private static NullOAuthTokenProvider? _instance = null;

        private NullOAuthTokenProvider()
        {
        }

        /// <summary>
        /// Gets a new <c>NullOAuthTokenProvider</c> instance.
        /// </summary>
        public static IOAuthTokenProvider Instance
        {
            get
            {
                if (_instance == null)
                {
                    _instance = new NullOAuthTokenProvider();
                }

                return _instance;
            }
        }

        /// <inheritdoc/>
        public Task<OAuthTokenResponse> GetAccessTokenResponseAsync(bool forceRenew = false, CancellationToken cancellationToken = default)
        {
            return Task.FromResult<OAuthTokenResponse>(null!);
        }

        /// <inheritdoc/>
        public AsyncPolicy<RestResponse> GetOAuthRetryPolicy(Func<DelegateResult<RestResponse>, int, Context, Task>? onRetryAsyncFunc = null)
        {
            return Policy.NoOpAsync<RestResponse>();
        }

        /// <inheritdoc/>
        public Task AddOrUpdateAuthorizationHeader(RequestOptions requestOptions, string requestUri, string httpMethod,
            CancellationToken cancellationToken = default)
        {
            return Task.CompletedTask;
        }

        /// <inheritdoc/>
        public string GetDpopProofJwt(string? nonce = null, string? htm = null, string? htu = null, string? accessToken = null)
        {
            return string.Empty;
        }
    }
}