{{>partial_header}}

using Newtonsoft.Json;

namespace {{packageName}}.Client
{
    /// <summary>
    /// Represents the base class for OAuth API responses.
    /// </summary>
    public abstract class OAuthApiResponse
    {
        /// <summary>
        /// Gets or sets the error code.
        /// </summary>
        [JsonProperty("error")]
        public string Error { get; set; }

        /// <summary>
        /// Gets or sets the error description.
        /// </summary>
        [JsonProperty("error_description")]
        public string ErrorDescription { get; set; }
    }
}