{{>partial_header}}
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading;
using System.Threading.Tasks;

namespace {{packageName}}.Client
{
    /// <summary>
    /// An async enumerator for Okta collections.
    /// </summary>
    /// <typeparam name="T">The type of items in the collection.</typeparam>
    public class OktaCollectionAsyncEnumerator<T> : IAsyncEnumerator<T>
    {
        private readonly IOktaPagedCollectionEnumerator<T> _pagedEnumerator;
        private bool _initialized = false;
        private int _localPageIndex;
        private bool _disposedValue = false; // To detect redundant calls

        private void Dispose(bool disposing)
        {
            if (!_disposedValue)
            {
                if (disposing)
                {
                    //Noop
                }

                _disposedValue = true;
            }
        }

        /// <summary>
        /// Initializes a new instance of the <see cref="OktaCollectionAsyncEnumerator{T}"/> class.
        /// </summary>
        /// <param name="initialRequest">The initial request options.</param>
        /// <param name="path">The API path.</param>
        /// <param name="client">The asynchronous client.</param>
        /// <param name="configuration">The configuration.</param>
        /// <param name="oAuthTokenProvider">The OAuth token provider.</param>
        /// <param name="cancellationToken">The cancellation token.</param>
        public OktaCollectionAsyncEnumerator(RequestOptions initialRequest, string path, IAsynchronousClient client, IReadableConfiguration configuration, IOAuthTokenProvider oAuthTokenProvider, CancellationToken cancellationToken = default)
        {
            _pagedEnumerator =
                new OktaPagedCollectionEnumerator<T>(initialRequest, path, client, configuration, oAuthTokenProvider, cancellationToken);
        }


        /// <summary>
        /// Gets the current item.
        /// </summary>
        public T Current => _pagedEnumerator.CurrentPage.Items.ElementAt(_localPageIndex);

        /// <summary>
        /// Disposes the enumerator asynchronously.
        /// </summary>
        /// <returns>A ValueTask representing the asynchronous dispose operation.</returns>
        public ValueTask DisposeAsync()
        {
            // Do not change this code. Put cleanup code in Dispose(bool disposing) above.
            Dispose(true);

            return default(ValueTask);
        }

        /// <summary>
        /// Moves to the next item asynchronously.
        /// </summary>
        /// <returns>A ValueTask containing true if there are more items, false otherwise.</returns>
        public async ValueTask<bool> MoveNextAsync()
        {
            var hasMoreLocalItems = _initialized
                                    && _pagedEnumerator.CurrentPage.Items.Any()
                                    && (_localPageIndex + 1) < _pagedEnumerator.CurrentPage.Items.Count();

            if (hasMoreLocalItems)
            {
                _localPageIndex++;
                return true;
            }

            var movedNext = await _pagedEnumerator.MoveNextAsync().ConfigureAwait(false);
            if (!movedNext)
            {
                return false;
            }

            _initialized = true;
            _localPageIndex = 0;

            return _pagedEnumerator.CurrentPage.Items.Any();
        }
    }
}
