{{>partial_header}}
using System;
using System.Collections.Generic;
using System.Text;
using System.Threading;

namespace {{packageName}}.Client
{
    /// <summary>
    /// A collection of Okta resources that can be enumerated asynchronously.
    /// </summary>
    /// <remarks>
    /// Using this object with LINQ will automatically enumerate a paginated Okta collection.
    /// See <a href="https://developer.okta.com/docs/api/getting_started/design_principles.html#pagination">the API documentation on pagination</a>.
    /// </remarks>
    /// <typeparam name="T">The resource's type in the collection.</typeparam>
    public interface IOktaCollectionClient<T> : IAsyncEnumerable<T>
    {
        /// <summary>
        /// Returns an enumerator that can be used to retrieve items from an Okta collection page-by-page.
        /// Use this only if you need to enumerate collections manually; otherwise, use LINQ.
        /// </summary>
        /// <remarks>
        /// /// See <a href="https://developer.okta.com/docs/api/getting_started/design_principles.html#pagination">the API documentation on pagination</a>.
        /// </remarks>
        /// <param name="cancellationToken">The cancellation token.</param>
        /// <returns>An enumerator that retrieves items from an Okta collection page-by-page.</returns>
        IOktaPagedCollectionEnumerator<T> GetPagedEnumerator(CancellationToken cancellationToken = default);
    }

    /// <summary>
    /// Default implementation of <see cref="IOktaCollectionClient{T}"/>.
    /// </summary>
    /// <typeparam name="T">The resource's type in the collection.</typeparam>
    public class OktaCollectionClient<T> : IOktaCollectionClient<T>
    {
        private RequestOptions _initialRequest;
        private string _initialPath;
        private IAsynchronousClient _client;
        private IReadableConfiguration _configuration;
        private IOAuthTokenProvider _oAuthTokenProvider;
        
        /// <summary>
        /// Initializes a new instance of the <see cref="OktaCollectionClient{T}"/> class.
        /// </summary>
        /// <param name="initialRequest">The initial request options.</param>
        /// <param name="initialPath">The API path.</param>
        /// <param name="client">The asynchronous client.</param>
        /// <param name="configuration">The configuration.</param>
        /// <param name="oAuthTokenProvider">The OAuth token provider.</param>
        public OktaCollectionClient(RequestOptions initialRequest, string initialPath, IAsynchronousClient client, IReadableConfiguration configuration, IOAuthTokenProvider oAuthTokenProvider)
        {
            _initialRequest = initialRequest;
            _client = client;
            _initialPath = initialPath;
            _configuration = configuration;
            _oAuthTokenProvider = oAuthTokenProvider;
        }
        
        /// <inheritdoc/>
        public IAsyncEnumerator<T> GetAsyncEnumerator(CancellationToken cancellationToken = default)
            => new OktaCollectionAsyncEnumerator<T>(_initialRequest, _initialPath, _client, _configuration, _oAuthTokenProvider, cancellationToken);
        
        /// <inheritdoc/>
        public IOktaPagedCollectionEnumerator<T> GetPagedEnumerator(CancellationToken cancellationToken = default)
            => new OktaPagedCollectionEnumerator<T>(_initialRequest, _initialPath, _client, _configuration, _oAuthTokenProvider, cancellationToken);
    }
}
