# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  windows: circleci/windows@5.0
  general-platform-helpers: okta/general-platform-helpers@1.8

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  build:
    description: Run tests and build
    executor:
      name: windows/default
    steps:
      - checkout
      - run:
          name: "Install required components"
          command: |
              choco install -y dotnetcore-sdk
      - run:
          name: "Test Runner"
          command: |
              ./build.ps1;
      - run:
          name: "Install nuget"
          command: |
            choco install nuget.commandline
      - run:    # Not needed if you have "persist_to_workspace" and "attach_workspace"
          name: "Run Nuget Restore"
          command: |
            nuget restore
          path: "~/project/src"
      - persist_to_workspace: # Allows for sharing of build-workspace (containing downloaded dependencies) (optional)
          root: ~/project
          paths:
            - .
      - when:
          condition:
            equal: [ "<<pipeline.git.branch>>", "master" ]
          steps:
            - general-platform-helpers/step-artifacts-prepare-and-upload-windows:
                files-to-upload: "artifacts"
                location: "com/okta/devex/okta-sdk-dotnet"
  snyk-scan:
    docker:
      - image: cimg/python:3.10

    steps:
      - attach_workspace: # Allows for sharing of build-workspace (containing downloaded dependencies) (optional)
          at: ~/project
          exclude: ~/project/tools
      - general-platform-helpers/step-load-dependencies
      - general-platform-helpers/step-run-snyk-monitor:
          scan-all-projects: true
          skip-unresolved: false
          run-on-non-main: true
          detection-depth: 4
          
# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  "Circle CI Tests":
    jobs:
      - build
      - general-platform-helpers/job-snyk-prepare:
          name: prepare-snyk
          requires:
            - build
      - snyk-scan:
          name: execute-snyk
          requires:
            - prepare-snyk
  "Semgrep":
    jobs:
      - general-platform-helpers/job-semgrep-prepare:
          name: semgrep-prepare
      - general-platform-helpers/job-semgrep-scan:
          name: "Scan with Semgrep"
          requires:
            - semgrep-prepare

# VS Code Extension Version: 1.4.0
